<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated compress -->
      <package
            uri="http://de.hub/EmfCompress/1.0"
            class="de.hub.emfcompress.EmfCompressPackage"
            genModel="models/compress.genmodel"/>
   </extension>

</plugin>
